Prachi-Retell-Voicebot.json
{
  "name": "Prachi-voicebot-call history",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        0
      ],
      "id": "bd17e288-891d-4e1d-bff9-09130425597f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"from_number\": \"+15722231471\",\n  \"to_number\": \"+917420815104\",\n  \"override_agent_id\": \"agent_d870b1a9d6082b4f80d39cbc04\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        0
      ],
      "id": "f36d96c2-f1fd-463e-a719-ce3331448c06",
      "name": "HTTP Request",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "XhJC7vDGaV4GEPb3",
          "name": "Multiple Headers Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e7fff56-d365-495a-a1b3-c7754dfbefa0",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "4a6ed68a-eb77-4e9f-acaa-4f6e11833cbc",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1q7vvmu5SKZPe4PBJNmWQHl50rDYMd_i6LVVrZWya-Eo",
          "mode": "list",
          "cachedResultName": "voicebot-spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q7vvmu5SKZPe4PBJNmWQHl50rDYMd_i6LVVrZWya-Eo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.call_analysis.custom_analysis_data.Name }}",
            "Address": "={{ $json.call_analysis.custom_analysis_data.Address }}",
            "DOB": "={{ $json.call_analysis.custom_analysis_data.DOB }}",
            "Call Status": "={{ $json.call_status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DOB",
              "displayName": "DOB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Call Status",
              "displayName": "Call Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        -16
      ],
      "id": "e232d829-29a5-41b7-a3dd-15228c730cd0",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleApi": {
          "id": "h2xqwEgckYkyLKbO",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -208,
        0
      ],
      "id": "fe00157e-3b1c-413e-8b80-b36569e9565b",
      "name": "Wait",
      "webhookId": "ea6eaa6b-87ee-4fa5-8a97-f0d372b659d6"
    },
    {
      "parameters": {
        "url": "=https://api.retellai.com/v2/get-call/{{ $json.call_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        0
      ],
      "id": "4e695b35-f968-42dc-91d5-22bfee800374",
      "name": "HTTP Request1",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "XhJC7vDGaV4GEPb3",
          "name": "Multiple Headers Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "48a7614d-acf0-477b-a0e0-ec21a4090490",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf86d2c391b98b3d2e79a31f734d0b40bb35f6a461c1bf63149211bee28771c2"
  },
  "id": "JvZ1Y5irISOFEa0b",
  "tags": []
}